.blog{
    display: flex;
    flex-direction: column;
}

.blogheading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.blogheading h1{
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    letter-spacing: -0.04em;
}

.blogcontainer{
    display: flex;
    flex-direction: row;

}

.bloggrpa{
    flex: 0.75;
    margin-right: 2rem;
}
.bloggrpb{
    flex: 0.75;
    margin-right: 2rem;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 2rem;
}
@media screen  and (max-width:990px){
    .blogcontainer{
        flex-direction: column-reverse;
    }

    .bloggrpa{
        margin: 2rem 0;

    }
    .bloggrpa {
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    .bloggrpb{
        grid-template-columns: repeat(1,1fr);
    }
    .bloggrpa {
        width: 92%;
    }
    .blogheading h1{
        font-size:46px ;
        line-height: 52px;
    }
}

@media screen and (max-width:500px) {
    .blogheading h1{
        font-size:34px ;
        line-height: 42px;
    }
}
